:root {
    --background-color: white;
    --text-color: black;
  }
  
  [data-theme="dark"] {
    --background-color: black;
    --text-color: rgb(28, 175, 143);
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  